@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Movie Searcher</h1>
        <p>Instructions to get to the search bar:</p>
        <p>1. Please click on "Movies" tab.</p>
        <p>2. Enjoy!</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
